/* Layout */
body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100vh;

    display: grid;

    grid-template-rows: 50px 1fr 100px;
    grid-template-columns: 250px 1fr 200px;
    grid-template-areas:
        "header     header     header"
        "side-left  workspace  side-right"
        "footer     footer     footer";
    gap: 2px;
}

.panel {
    display: grid;

    justify-items: center;
    align-items: center;

    /* TODO: вынести цвета в отдельные переменные */
    color: white;
    background-color: #c0c0c0;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

#side-panel-left {
    grid-area: side-left;
}

#side-panel-right {
    grid-area: side-right;
}
